<div class="row well">
  <div class="col-sm-4"><%= image_tag "annual-fair-305043_1280.png" %></div>
  <div class="col-sm-8 text-center">
    <h1>Welcome to the <br><br>Amusement Park!</h1>
  </div>

</div>
